@font-face {
  font-family: MyFont1;
  src: url("./fonts/Montserrat-Regular.ttf"); }

.head {
  background-color: #dfe3e8;
  position: fixed;
  z-index: 100;
  width: 100%; }
  .head div {
    display: inline-block; }
  .head .logo {
    width: 140px;
    height: 50px;
    background-image: url("./img/logo-big.png");
    background-position: center;
    background-size: cover;
    margin: 20px 0px 0px 40px; }
    .head .logo.active {
      padding: 10px 5px 0px 20px;
      margin: 10px 0px 0px 20px; }
  .head .menu {
    float: right;
    margin: 30px 10px 0px 0px; }
    .head .menu button {
      display: none;
      background-color: #dfe3e8;
      border: none; }
    .head .menu .line-hambuger {
      width: 30px;
      height: 4px;
      margin: 3px;
      border-radius: 5px;
      background-color: #333333; }
    @media screen and (max-width: 768px) {
      .head .menu button {
        display: block; }
        .head .menu button:focus {
          outline: none; }
      .head .menu .line-hambuger {
        display: block; } }
  .head .header-primary-nav {
    float: right;
    margin: 30px 20px 0px 10px;
    font-size: 18px; }
    .head .header-primary-nav li {
      list-style-type: none;
      display: inline;
      margin: 0px 30px 0px 0px; }
    .head .header-primary-nav a {
      color: #1e3d65;
      font-family: "MyFont1", sans-serif; }
      .head .header-primary-nav a:hover {
        color: #1d83bf;
        text-decoration: none;
        cursor: pointer; }
    .head .header-primary-nav.active {
      margin: 10px 5px 0px 20px; }
    @media screen and (max-width: 768px) {
      .head .header-primary-nav {
        display: none; }
        .head .header-primary-nav.show-menu {
          display: block;
          background-color: white;
          max-height: 60px;
          width: 100%;
          margin: 5px 5px 0px 5px; } }

.websites .title {
  text-align: center;
  font-family: "MyFont1", sans-serif; }

.websites .websites-boxes {
  margin: 10px 20px 10px 30px; }
  .websites .websites-boxes div {
    display: inline-block; }
  .websites .websites-boxes .websites-box {
    max-width: 400px;
    min-height: 250px;
    margin: 20px 10px 20px 10px; }
    .websites .websites-boxes .websites-box .header-box {
      height: 20px;
      width: 100%;
      background-color: #1e3d65; }
      .websites .websites-boxes .websites-box .header-box .window-icon {
        height: 3px;
        width: 3px;
        background-color: #183151; }
    .websites .websites-boxes .websites-box .body-box img {
      width: 100%; }
    @media screen and (max-width: 768px) {
      .websites .websites-boxes .websites-box {
        max-width: 500px;
        margin: 5px 10px 5px 10px; } }
    @media screen and (min-width: 768px) and (max-width: 980px) {
      .websites .websites-boxes .websites-box {
        max-width: 300px; } }
    @media screen and (min-width: 980px) and (max-width: 1330px) {
      .websites .websites-boxes .websites-box {
        max-width: 400px; } }
  @media screen and (max-width: 768px) {
    .websites .websites-boxes {
      margin-left: 70px; } }
  @media screen and (min-width: 768px) and (max-width: 1330px) {
    .websites .websites-boxes {
      margin-left: 100px; } }

.about-us {
  font-family: "MyFont1", sans-serif;
  text-align: center;
  color: white;
  background-image: url("./img/background-about.png"); }
  .about-us h1 {
    padding-top: 20px; }
  .about-us p {
    padding-bottom: 40px; }
