
@font-face {
	font-family: MyFont1;
	src: url("./fonts/Montserrat-Regular.ttf")
}

// different screen
$break-small        : 768px;
$break-medium       : 980px;
$break-large        : 1330px;

// Fonts
$font-stack01:   "MyFont1", sans-serif;

//colors
    //background-color: for section
$background-color-section01: #dfe3e8; //head
$background-color-section02: #1e3d65; //header-box
$background-color-section03: #162335; //window-icon

    //background-color: for icon
$background-color-icon01:#333333; // icon hamburger

    //color for text
    
$color-text01: #1e3d65; //text in header-primary-nav
$color-text02: white; //text in about-us

    //color when hover
$color-text-hover01: #1d83bf; //text in header-primary-nav

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes appear{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1 
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bottomToTop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.head{
    background-color: $background-color-section01;
    position: fixed;
    z-index: 100;
    width: 100%;
    div{
        display:inline-block
    }
    .logo{
        width: 140px;
        height: 50px;
        background-image: url('./img/logo-big.png');
        background-position: center;
        background-size: cover;
        margin: 20px 0px 0px 40px;
        &.active{
            padding:10px 5px 0px 20px;
            margin: 10px 0px 0px 20px;
        }
    }
    .menu{
        float:right;
        margin:30px 10px 0px 0px;
        button{
            display:none;
            background-color: $background-color-section01;
            border: none;
            
        }
        .line-hambuger{
            width:30px;
            height: 4px;
            margin: 3px;
            border-radius:5px;
            background-color: $background-color-icon01
        }
        @media screen and (max-width: $break-small) {
            button{
                display:block;
                &:focus{
                    outline: none;
                }
            }
            .line-hambuger{
                display:block
            }
        }
    }
    .header-primary-nav{
        float:right;
        margin:30px 20px 0px 10px;
        font-size: 18px;
        li{
            list-style-type:none;
            display: inline;
            margin: 0px 30px 0px 0px
        }
        a{
            color: $color-text01;
            font-family: $font-stack01;
            &:hover{
                color:$color-text-hover01;
                text-decoration: none;
                cursor: pointer
            }
        }
        &.active{
            margin: 10px 5px 0px 20px
        }
        @media screen and (max-width: $break-small) {
            display:none;
            &.show-menu{
                display: block;
                background-color:white;
                max-height: 60px;
                width: 100%;
                margin: 5px 5px 0px 5px
            }
        }
    }
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-name: appear;
}

.websites{
    .title{
        text-align: center;
        font-family: $font-stack01
    }
    
    .websites-boxes{
        margin: 10px 20px 10px 30px;
        div{
            display:inline-block;   
        }
        .websites-box{
            max-width: 400px;
            min-height: 250px;
            margin: 20px 10px 20px 10px;
            .header-box{
                height: 20px;
                width: 100%;
                background-color:$background-color-section02;
                .window-icon-block{
                    float: right;
                    margin-right:10px;
                    .window-icon{
                        height: 10px;
                        width: 10px;
                        background-color:$background-color-section03;
                        display: inline-block;
                    
                    }
                }
                
            }
            .body-box{
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width: $break-small) {
                max-width: 500px;
                margin: 5px 10px 5px 10px;
            }
            @media screen and (min-width: $break-small) and (max-width: $break-medium ) {
                max-width: 300px;
            }
            @media screen and (min-width: $break-medium) and (max-width: $break-large ) {
                max-width: 400px;
            }
        }
        @media screen and (max-width: $break-small) {
            margin-left:70px
        }
        @media screen and (min-width: $break-small) and (max-width: $break-large ) {
            margin-left:100px
        }
    }
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: ease-out; /* how the animation will behave */
    animation-delay: 0.1s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideInFromRight; /* the name of the animation we defined above */
}

.about-us{
    font-family: $font-stack01;
    text-align: center;
    color: $color-text02;
    background-image: url('./img/background-about.png');
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: ease-out; /* how the animation will behave */
    animation-delay: 0.3s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideInFromLeft; /* the name of the animation we defined above */
    h1{
        padding-top:20px;
    }
    p{
        padding-bottom: 40px
    }
}
